* {margin: 0; padding: 0;}

a {text-decoration: none;}

/* This class is added on scroll */
.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
}

body {
	color: #fff;
	font-family: 'Roboto', Arial, sans-serif; 
	font-size: 18px;
	text-align: center;
}

/* Navigation Settings */
nav {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: #fff;
}

nav li {
	display: inline-block;
	padding: 24px 10px;
}

nav li a {
	color: #757575;
	text-transform: uppercase;
}

section {
	height: 100%;
}

/* Screens Settings */
#screen1 {	
	background: #D2527F;
}

/*
*CONTAINER
*/

#container{
	padding-top: 5%;
}

/*
*SEARCH BAR
*/

#search {

}

#search input[type="text"] {
    background: url(../img/search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
    }
    
/*
*FORM CONTACT
*/

.wrapper {
	max-width:500px;
	width:95%;
	margin:0 auto;
	position:relative;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form input[type="url"],
.contact-form textarea,
.contact-form button[type="submit"] {
	font:400 12px/12px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.contact-form {
	text-shadow:0 1px 0 #FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#F9F9F9;
	padding:25px;
}
.contact-form h3 {
	color:#991D57;
	display:block;
	font-size:28px;
}
.contact-form h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
	color: #D2527F;
}
.contact-form label {
	cursor:pointer;
	color:#991D57;
	margin:5px 0;
	font-weight:900;
}
.contact-form label span {
	cursor:pointer;
	color:#991D57;
	margin:5px 0;
	font-weight:900;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form input[type="url"],
.contact-form textarea {
	width:90%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
.contact-form input[type="text"]:hover,
.contact-form input[type="email"]:hover,
.contact-form input[type="tel"]:hover,
.contact-form input[type="url"]:hover,
.contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
.contact-form textarea {
	height:100px;
	max-width:100%;
}
.contact-form #submit-button {
	cursor:pointer;
	width:60%;
	border:none;
	background:#991D57;
	background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
.contact-form #submit-button:hover {
	background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
.contact-form #submit-button:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}

.contact-form input:focus,
.contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}

select {
   background: transparent;
   width: 90%;
   padding: 5px;
   font-size: 0.7em;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
   }
   
/*
*FOOTER
*/
footer{
	margin-top: 20px;
}

#terms{
	font-size: 10px;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 100;
	margin: 10px;
	font-style: none;
	color: #757575;
}


@media only screen and (max-width: 800px) {
#search{display: none;}
}

@media only screen and (max-width: 520px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 14px;
	}

}