@font-face {
    font-family: Yanone Kaffeesatz;
    src: url(../fonts/yanone-kaffeesatz/YanoneKaffeesatz-Regular.otf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Light.ttf);
}

html,
button,
input,
select,
textarea {
    color: #000000;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: #ecf0f1;
    font-family: 'Roboto', Arial, sans-serif;
    }

.clearfix:before,.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 */

::-moz-selection {
    background: #ffffff;
    text-shadow: none;
}

::selection {
    background: #ecf0f1;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0 0;
}

#container {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 70%;
	margin: auto;
	height: 99%;
}

#navbar {
	width: 99%; /* Should be same width as content container */
	position: fixed;
	top: 0; /* Left is 100-[content width]/2). */
	opacity: 1;
	z-index: 100;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

nav ul {
	font-family: "Roboto", Arial, sans-serif;
	list-style-type: none;
	background-color: #2980B9;
	width: 50%;
	margin: 0;
	padding: 10px 0;
	color: #f1c40f;
}

nav ul:nth-of-type(1) {float: left;}
nav ul:nth-of-type(2) {float: right;}

nav ul li {
	/*float: left;*/
	margin: 0;
	padding: 8px;
}
nav ul:nth-of-type(2) li {float: right;}

nav ul li a {
	text-decoration: none;
	color: #f1c40f;
}

nav ul li a:hover {text-decoration: underline;}

.fixednav {
	left: 0 !important;
	width: 100% !important;
	opacity: .9 !important;
}

.filler {font-size: .8em;}

.fixednav ul {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	width: 15% !important;
	text-align: center;
}
.fixednav ul li {display: block; float: none;}
.fixednav ul:nth-of-type(2) li {float: none;}

/*
*SEARCH BAR
*/

input, select, textarea {
                background: none repeat scroll 0 0 #fafafa;
                border: 1px solid #eeeeee;
                color: #5e5e5e;
                display: block;
                font-family: arial, sans-serif;
                font-size: inherit;
                padding: 10px;
                width: 100%;
                box-sizing: border-box;
                font-size: 16px;
                margin: 0;
        		margin-top: 1%;
        		margin-bottom: 1%;
                height: 40px;
            }
            
#searchtext {
        overflow: hidden;
            }
            
a.search-submit-button {
                background: none repeat scroll 0 0 #fafafa;
                border-bottom: 1px solid #eeeeee;
                border-right: 1px solid #eeeeee;
                border-top: 1px solid #eeeeee;
                color: #5e5e5e !important;
                display: block;
                float: right;
                font-family: inherit;
                font-size: 20px;
                padding: 8px 10px;
                text-align: center;
                width: 45px;
                box-sizing: border-box;
                height: 40px;
                margin-top: 0.9%;
        		margin-bottom: 1%;
            }
        
a.search-submit-button img{
	margin-bottom: 10px;
}

/*
*TIMELINE
*/

.app{
	background-color: #ecf0f1; 
	overflow: hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: auto;
	height: 100%;
}

.app > .container{
	margin: 0 auto;
	padding: 0 1%;
	padding-bottom: 180px;
}

.timeline{
	position: absolute;
	top: 120px;
	margin-left: 15%;
}

.timeline::before{
	content: " ";
	display: block;
	position: absolute;
	left: 10px;
	top: 0px;
	bottom: 0px;
	height: 100%;
	width: 0px;
}

.timeline > .entry{
	position: relative;
	margin-left: 34px;
	margin-right: 15px;
	padding: 30px 0;
	max-width: 500px;
}

.timeline > .entry .wrapper{
	position: relative;
	width: 100%;
}

.timeline > .entry .wrapper::before{
	content: " ";
	position: absolute;
	border: 3px solid #2c3e50;
	background-color: #FFF;
	height: 12px;
	width: 12px;
	border-radius: 9px;
	left: -33px;
	top: 15px;
	border-top-right-radius: 0px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.entry .name{
	font-size: 2.5em;
	display: block;
	color: #2c3e50;
	font-family: "Yanone Kaffeesatz", "proxima-nova-extra-condensed", Arial, sans-serif;
	font-weight: bold; 
}

.entry h3{
	letter-spacing: 5px;
	font-weight: 600;
	font-size: 1em;
	color: #2c3e50;
	text-transform: uppercase;
	margin: 3px 0;
	font-family: "Yanone Kaffeesatz", "effra", Arial, sans-serif;
}

.entry h3 span{
	display: block;
}

.content p{
	position: relative;
	z-index: 5;
}

.entry .image-area {
	position: relative;
}

.entry picture{
	margin: 50px 0 0;
}

.entry .interactions{
	color: #0c2e43;
	list-style: none;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", "proxima-nova-extra-condensed", Arial, sans-serif;
}

.entry .interactions > li{
	display: inline-block;
	box-sizing: border-box;
	border-top: 1px dashed #0c2e43;
	width: 100%;
	text-align: center;
	padding: 10px 0 0;
}

.entry .interactions > li:first-child{
	border-top: none;
}

.entry .interactions .name{
	display: block;
	text-transform: uppercase;
	font-size: 0.7em;
	padding-top: 5px;
}

.entry .interactions .value{
	display: block;
	font-size: 26px;
	font-weight: bold;
	padding: 5px 0 0;
	text-transform: uppercase;
	font-weight: 600;
}

/*
* FOOTER
*/

footer {
    background-color: transparent;
    position: relative;
    z-index: 1;
    width: 100%;
}

footer .splitter {
    height: 20px;
}

footer > ul {
    list-style: none outside none;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    padding: 25px 0;
    position: relative;
    width: 100%;
}
footer > ul li {
    float: left;
    padding: 20px 15px;
    width: 33.3%;

    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
footer > ul li:first-child {
    padding-left: 0;
}
footer > ul li:nth-child(3) {
    padding-right: 0;
}
footer > ul li .icon {
    color: #999999;
    float: left;
    font-size: 50px;
    line-height: 80px;
}
footer > ul li .text {
    color: #848889;
    font-size: 13px;
    line-height: 20px;
    /*margin-left: 105px;*/
    position: relative;
    text-align: justify;
}
.text h4 {
    color: #848889;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.text a {
    border-bottom: 1px dotted transparent;
    color: #848889;
    font-weight: bold;
}
.text a:hover {
    border-color: #848889;
}

footer .bar {
    background-color: #1E2629;
    padding: 20px 0;
}
footer .bar-wrap {
    font-size: 12px;
    margin: 0 auto;
    max-width: 960px;
    position: relative;
    width: 95%;
}

.social {
    right: 0;
    top: 0;
    text-align: center;
}
.social a {
    color: #778888;
    margin-left: 20px;
}
.social a:hover {
    color: #FFFFFF;
}
.social .icon {
    display: inline-block;
    font-size: 36px;
    margin-right: 5px;
    vertical-align: middle;

    -webkit-transition: -webkit-transform .3s linear;
    -moz-transition: -moz-transform .3s linear;
    -ms-transition: -ms-transform .3s linear;
    -o-transition:  -o-transform .3s linear;
    transition: transform .3s linear;
}
.social a:hover  .icon {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.social .info {
    display: inline-block;
    vertical-align: middle;
}
.social .info .follow {
    display: block;
}
.social .info .num {
    display: block;
}
.copyright {
    color: #778888;
    margin-top: 5px;
    text-align: center;
}

/*
*Media Queries
*/

@media all and (min-width: 420px) {
.entry h3 span{
		display: inline;
	}

.entry h4{
		font-size: 20px;
	}
.entry .interactions{
		margin-right: -15px;
		margin-left: -15px;
		box-sizing: border-box;
	}
.entry .interactions:before, .entry .interactions:after{
		display: table;
		content: " ";
	}
.entry .interactions > li{
		width: 50%;
		border-left: 1px dashed #0c2e43;
		border-top: none;
		padding: 15px 10px;
		min-height: 80px;
		box-sizing: border-box;
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left; 
	}
.entry .interactions > li:first-child{
		border-left: none;
	}
}

@media all and (min-width: 720px) {
.timeline > .entry{
		margin-left: 0;
		margin-right: 0;
		display: block;
		box-sizing: border-box;
		float: left;
    	clear: left;
	}
.entry > .wrapper{
		padding: 0 30px 0 10px;
	}
.entry:nth-child(2n) > .wrapper{
		padding: 0 10px 0 30px;
	}
.timeline > .entry .wrapper::before{
		right: -10px;
		left: auto;
		top: 70px;
		-ms-transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
.timeline > .entry:nth-child(2n) .wrapper::before{
		right: auto;
		left: -8px;
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
.entry h4{
		font-size: 24px;
	}
.entry .interactions .name{
		min-height: 34px;
	}
.header-row{
		box-sizing: border-box;
		margin-right: -15px;
		margin-left: -15px;
	}
.header-row:before, .header-row:after{
		display: table;
		content: " ";
		clear: both;
	}
.header-row > div{
		box-sizing: border-box;
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
	}
.header-row .content-name{
		width: 30%;
	}
.header-row .content{
		width: 70%;
	}
.timeline > .entry:nth-child(2n) .content-name{
		float: right;
	}
.timeline > .entry:nth-child(2n) .content, 
.timeline > .entry:nth-child(2n) .content h3,
.timeline > .entry:nth-child(2n) .content p{
		text-align: right;
	}
.entry .name{
		padding-top: 35px;
		font-size: 2.3em;
	}
.timeline .clearall{
		height: 20px;
		background-color: #FFF;
	}
.timeline .clearall::before{
		content: " ";
		display: block;
		position: absolute;
		left: 50%;
		width: 50px;
		margin-left: -25px;
		border-top: 1px solid #dce0df;
		height: 20px;
		bottom: 0px;
		}
	}
@media all and (min-width: 900px) {

.header-row .content-name{
		width: 25%;
	}
.header-row .content{
		width: 75%;
	}

}

.map_canvas {
    width: 50%;
    height: 200px;
}

@media only screen and (max-width: 600px) {
	#navbar{
		display: none;
	}
	
}

@media screen and (max-width: 800px) {

footer{
	display: none;
	}
}

@media screen and (max-width: 1000px){
    .links, .social, .copyright{
        float:none;
        text-align:center;
    }
    .social {
        position:relative;
        margin:10px 0;
    }
    .links li {
        display:inline-block;
        float:none;
    }
    .bar {
        position:relative;
    }
    .bar-wrap {
        margin-bottom:0;
    }
}

@media screen and (max-width: 835px)  {
    footer > ul li {
        float:none;
        width:auto;
    }
}

@media screen and (max-width: 768px)  {
    .links li {
        margin-right:5px;
    }
}