* {margin: 0; padding: 0;}

a {text-decoration: none;}

/* This class is added on scroll */
.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
}

body {
	color: #fff;
	font-family: 'Roboto', Arial, sans-serif; 
	font-size: 18px;
	text-align: center;
}

/* Navigation Settings */
nav {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: #fff;
}

nav li {
	display: inline-block;
	padding: 24px 10px;
}

nav li a {
	color: #757575;
	text-transform: uppercase;
}

section {
	height: 100vh;
}

/* Screens Settings */
#screen1 {	
	background: #43b29d;
}

#screen2 {
	background: #efc94d;
}

#screen3 {
	background: #e1793d;
}

/*
*CONTAINER
*/

h1{
	color: #ffffff;
	text-transform: uppercase;
	padding-top: 2%;
}

h1 a{
	color: #ffffff;
}

p{
	color: #ffffff;
	width: 40%;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	font-weight: 100;
	font-size: 0.8em;
}

/*
*SEARCH BAR
*/

#search {

}

#search input[type="text"] {
    background: url(../img/search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
    }

/*
*INTERACTIONS
*/

.interactions{
	color: #ffffff;
	list-style: none;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", "proxima-nova-extra-condensed", Arial, sans-serif;
}

.interactions > li{
	display: inline-block;
	box-sizing: border-box;
	border-top: 1px dashed #ffffff;
	width: 100%;
	text-align: center;
	padding: 10px 0 0;
}

.interactions > li:first-child{
	border-top: none;
}

.interactions .name{
	display: block;
	text-transform: uppercase;
	font-size: 0.9em;
	padding-top: 5px;
}

.interactions .value{
	display: block;
	font-size: 0.7em;
	padding: 5px 0 0;
	text-transform: uppercase;
	padding-bottom: 2%;
}

#mail{
	padding-left:0%;
}

/*
*RATING
*/

.rating {
  font-weight: bold;
	/*margin-left:440px;*/
	width:55%;
	height:40px;
	text-align: center;
	margin: 1%;
}

.rating:not(:checked) > input {
    display:none;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:150%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

/*
*IMAGE
*/

img#admin_photo
{
	width: 20%;
	height: 20;
	margin-bottom: 10px;
}


    
/*
*FOOTER
*/
footer{
	margin-top: 20px;
}

#terms{
	font-size: 10px;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 100;
	margin: 10px;
	font-style: none;
	color: #757575;
}

@media only screen and (max-width: 800px) {
	#search{display: none;}
	
	.rating {
	width:60%;
}
}

@media only screen and (max-width: 520px) {

	nav li {
		padding: 24px 4px;
	}
	
	nav li a {
		font-size: 14px;
	}
.rating {
	width:65%;

}

@media only screen and (max-width: 300px) {

	nav li a {
		font-size: 10px;	
	}
	
	.rating:not(:checked) > label {
    font-size:100%;
	}
	
	.rating {
	width:70%;
}